//- Подключение библиотеки bemto
include libs/_bemto/bemto
- set_bemto_settings({ modifier: "--" })
- let img = 'img/'

//- компоненты
include components/head
include components/header
include components/footer

//- Базовый шаблон
doctype html
html(lang="ru")

	block head

	body.page
		block header
			//- +header()

		main
			block content

		block footer
			+footer()

		block libs
			//- // build:js js/libs.js
			script(src="js/libs/jquery.min.js")
			//- script(src="js/libs/aos/aos.js")
			//- script(src="js/libs/jquery.validate.min.js")
			//- script(src="js/libs/jquery.maskedinput.min.js")
			//- script(src="js/libs/hystmodal/hystmodal.min.js")
			//- script(src="js/libs/lightgallery/lightgallery.min.js")
			//- script(src="https://api-maps.yandex.ru/2.1/?apikey=web&lang=ru_RU")
			//- script(src="js/libs/swiper/swiper-bundle.min.js")
			//- // endbuild

		block scripts
			//- // build:js js/main.js
			script(src="js/data.js")
			script(src="js/main.js")
			//- // endbuild