//-------------------- Montserrat -------------------->
@font-face
	font-family: 'Montserrat Light'
	src: url('../fonts/Montserrat/Montserrat-Light.woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face
	font-family: 'Montserrat Regular'
	src: url('../fonts/Montserrat/Montserrat-Regular.woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

@font-face
	font-family: 'Montserrat Medium'
	src: url('../fonts/Montserrat/Montserrat-Medium.woff2')
	font-weight: normal
	font-style: normal
	font-display: swap

